<div class="sidebar">
    <div class="wrapper">
       <div class="sidebar-list">
         <p>Recent posts:</p>
          <ul>
            
            {% for post in site.posts limit:3%}
                    {% if post.title %}
                    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                    {% endif %}
              {% endfor %}
          </ul>       
          <p>Tags:</p>
          <ul> 
          {% for tag in site.tags %}
              {% capture tag_name %}{{ tag | first }}{% endcapture %}
                  <li><a href="/tags?tag={{tag_name}}">{{ tag_name }}</a></li>
                {% endfor %}
          </ul>
       </div>
      
    </div>
</div>


